# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Exclude trail pipeline folder
a-trail-rag_pipeline/

# Logs
*.log